<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zego.com.mediaplayer">

    <application>

        <activity android:name="com.zego.mediaplayer.ui.MediaPlayerDemoUI" />
        <activity android:name="com.zego.mediaplayer.ui.MediaPlayerResourcesList" />

    </application>
</manifest>
