<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zego.mediarecorder" >

    <application>
        <activity android:name="com.zego.mediarecorder.ZGMediaRecorderSettingUI" />
        <activity android:name="com.zego.mediarecorder.ZGMediaRecorderDemoUI" />
    </application>

</manifest>
